frontend/node_modules/*
frontend/build/*
Backend/node_modules/*
frontend/.env
Backend/.env
EmailBackend/node_modules/*
EmailBackend/.env
node_modules/*
redis-binaries

*/package-lock.json

/frontend/package-lock.json
/frontend/node_modules
/EmailBackend/node_modules
/EmailBackend/combined-log.txt
/EmailBackend/package-lock.json
/CDN/combined-log.txt
/Backend/combined-log.txt
/Backend/.env
/Backend/node_modules
/Backend/package-lock.json
/start-services.ps1